    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax( 70px, auto);
    }
    
    ;
    .border-right {
        padding: 10px;
    }
    
    ;
    .width {
        width: 10px;
    }
    
    ;
    .card-columns {
        padding: 40px;
        border: 1px solid grey;
    }
    
    .card-img-bottom {
        padding: 70px;
    }